[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=DPDC
Comment=A Phasor Data Concentrator
Exec=/usr/local/bin/DPDC
Icon=/usr/local/share/DPDC/images/logo.png
Terminal=true
Categories=Education
